# Financial Data Analysis with Python

### Instructor: Luping Yu

### Mar 22, 2022

***
## Project 1

It's time to test your new pandas skills! Use the provided .csv file to complete the tasks below!

Student Name 1:

Student Name 2:


### Task 1. Bank M&A

Note: failed banks (Bank Name) are bought by another bank (Acquiring Institution).

In [ ]:
import pandas as pd

df = pd.read_csv('banklist.csv')

In [ ]:
df

***
* Step 1. How many States (ST) are represented in this data set?

In [ ]:
len(df['ST'].drop_duplicates())

***
* Step 2. What are the top 5 states with the most failed banks? (tips: groupby 'ST' and use <u>count</u>)

In [ ]:
df

In [ ]:
df.groupby('ST').count()['Bank Name'].sort_values(ascending=False)[:5]
#df.groupby('ST').count()['City'].sort_values(ascending=False)[:5]
#df.groupby('ST')['Bank Name'].count().sort_values(ascending=False).head(5)

***
* Step 3. What are the top 5 states with the highest **average** CERT (Certificate) value of failed banks? (tips: groupby 'ST' and use <u>mean</u>)

In [ ]:
df.groupby('ST').mean()['CERT'].sort_values(ascending=False)[:5]
#df.groupby('ST')['CERT'].mean().sort_values(ascending=False).head(5)

***
* Step 4. What are the top 5 acquiring institutions?

In [ ]:
df['Acquiring Institution'].value_counts()[:5]
#df.groupby('Acquiring Institution').count()['Bank Name'].sort_values(ascending=False)[:5]

***
* Step 5. How many banks has the *State Bank of Texas* acquired?

In [ ]:
df[df['Acquiring Institution']=='State Bank of Texas']

***
* Step 6. What is the most common city in California for a bank to fail in? (tips: 'ST' == 'CA' and groupby 'City')

In [ ]:
df[df['ST']=='CA'].groupby('City')['Bank Name'].count().sort_values(ascending=False).head(1)

***
* Step 7. How many failed banks **don't** have the word "Bank" in their name?

In [ ]:
len(df) - sum(df['Bank Name'].str.contains('Bank'))
#sum(df['Bank Name'].str.contains('Bank') == False)
#sum(~df['Bank Name'].str.contains('Bank'))
#sum(df['Bank Name'].apply(lambda name: 'Bank' not in name))

***
* Step 8. How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )

In [ ]:
sum(df['Bank Name'].str.split(' ').str.len() == 2)
#sum(df['Bank Name'].str.count(' ') + 1 == 2)

***
### Task 2. Occupation

In [ ]:
import pandas as pd

df = pd.read_csv('occupation.csv', index_col='user_id')

In [ ]:
df

***
* Step 1. What is the mean age per occupation? (tips: groupby 'occupation')

In [ ]:
df.groupby('occupation')['age'].mean()
#df.groupby('occupation')['age'].apply('mean')
#df.groupby('occupation')['age'].agg('mean')

***
* Step 2. For each occupation, calculate the minimum and maximum ages.

In [ ]:
df.groupby('occupation')['age'].agg(['min', 'max'])

***
* Step 3. For each combination of occupation and gender, calculate the **median** age.

In [ ]:
df.groupby(['occupation', 'gender'])['age'].median()

***
* Step 4. Create a column named 'male', which equals to 1 if gender is 'M' and zero otherwise. (tips: covert 'gender' column to numeric type: M: 1; F: 0)

In [ ]:
df['male'] = df['gender']
df['male'] = df['male'].replace('M', 1)
df['male'] = df['male'].replace('F', 0)

df

In [ ]:
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0
    
df['male'] = df['gender'].apply(gender_to_numeric)

df

In [ ]:
import numpy as np

df['male'] = np.where(df['gender'] == 'M', 1, 0)

df

***
* Step 5. What is the Male ratio per occupation? Sort it from the most to the least.

In [ ]:
df.groupby('occupation')['male'].mean().sort_values(ascending=False)